@media(max-width:1400px){
    .main-box {
        flex-direction: column;
        gap: 20px;
    }
    .main-cards {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:900px) {
    .header-box {
    flex-direction: column;
    gap: 10px;
    }
}

@media(max-width:650px) {
    .header-content {
        height: 400px;
    }
    .header-content-title {
        font-size: 20px;
    }
    .header-list {
        gap: 20px;
    }
    .header-list-link {
        font-size: 16px;
    }
    .footer-social img{
        width: 30px;
        height: 30px;
    }
    .footer-title {
        font-size: 20px;
    }
}